<?xml version="1.0" encoding="utf-8"?>
<!-- android:sharedUserId gives us system UID (1000) so we can access /dev/ttyMT1 (system:system crw-rw----) -->
<!-- App must be signed with the platform key, or pushed to /system/priv-app/ via adb -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system">

    <application
        android:label="Hydropen"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
